p {

}

p:nth-of-type(p1) {
    color: blue;
}

style="color: blue;font-size:50px;

style="color:grey;"

style="font-size:8px;color:green;

style="text-align:right;font-weight:bold;color:orange;

style="text-align:justify;color:pink;font-family:tahoma;

style="text-decoration-line:underline;color:purple;font-family:Roboto, Helvetica, sans-serif

style="background-color:yellow;font-weight:bold;